.Reactions {
  display: flex;
}

.Reactions .Comments,
.Reactions .Retweet,
.Reactions .Heart,
.Reactions .Message {
  margin: 0 15px;
}

.Reactions .Comments {
  color: #617585;
}

.Reactions .Retweet {
  color: #02be58;
}

.Reactions .Heart {
  color: #e02760;
}

.Reactions .Message {
  color: #afb7be;
  font-size: 18px;
}
