.Author h3 {
    font-size: 18px;
}

.Author h3 span {
    font-weight: 400;
}

.text-grey {
    color: #617585;
}

@media (min-width: 768px) {
    .Author {
        display: flex;
    }
}

@media (max-width: 991px) {
    .Author h3 {
        font-size: 14px;
    }
}