.Avatar {
  position: relative;
}

.Avatar .image {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: black;
}

.Avatar .image-user {
  top: 50%;
  left: 50%;
  color: #fff;
  margin: 0 auto;
  font-size: 28px;
  position: absolute;
  transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  .Avatar {
    margin-bottom: 5px;
  }
}

@media (min-width: 778px) {
  .avatar-col {
    display: flex;
    justify-content: flex-end;
  }
}
